body{
  background: url(https://i.imgur.com/Fi2FBRk.jpg);
}
h1{
  color: rgb(50, 54, 168);
  font-weight:900;
  font-style: oblique;
  font-family: cursive;
}
div{
  background: rgb(50, 168, 152);
  border-color: blue;
  border-width: 10px;
  border-style:groove;
}

p{
  font-size: 35px;
  color: rgb(20, 24, 43);
  font-family: fantasy;
}

span{
  background: rgb(230, 255, 105);
  color: black;
}
