.firstDiv{
  color: blue;
}
.secondDiv{
  color: red;
}
#singledout{
  color: red;
  text-decoration-color: yellow;
  text-decoration: overline;
  /* text-decoration: underline; */
  /* text-decoration: line-through; */
  font-size: 60px;
}

h3 + ul{
  color: blue;
  border: 4px dotted purple;
}

li a{
  text-decoration: none;
}

#ge{
  max-width: 95.2px;
  background: yellow;
  margin-top: 20px;
}

#yt{
  background: black;
  margin-top: 20px;
  max-width: 62.2px;
}
li a[href="https://youtube.com/"]{
  border: 2px double blue;
  color: white;
}

li a[href="https://www.google.com/earth/"]{
  border: 2px double black;
}
